<div id="footer" class="text-center">
  <div class="contact">
    <ul>
      <li class="d-inline-block vertical-center">
        <div class="icon d-inline-block vertical-center">
          <img src="assets/images/footer_mail.svg" alt="">
        </div>
        <div class="d-inline-block">cr@tfssg.sg</div>
      </li>
      <li class="d-inline-block vertical-center">
        <div class="icon d-inline-block vertical-center">
          <img src="assets/images/footer_phone.svg" alt="">
        </div>
        <div class="d-inline-block">+65 6978 2388</div>
      </li>
    </ul>
  </div>
  Copyright © Toyota Financial Services Singapore 2020
</div>
