@import '../../color.scss';
#footer{
  background: $dark;
  color: #fff;
  padding: .5rem 0;
  font-size: .7rem;
  // position: absolute;
  // bottom: 0;left: 0;
  // width: 100%;
  .contact{
    margin-bottom: 10px;
    li{
      margin: 0 .5rem;
    }
  }
}
