<div id="form">
    <div class="container">
      <div class="main_form">
        <h2 class="main_form_title mb-5">
          Enter OTP
        </h2>
        <p class="mb-5">OTP has been sent to your email
          <a href="mailto:kinlau2000@gmail.com">kinlau2000@gmail.com
            </a>
          </p>
        <div class="otp_form">
          <p>OTP</p>
          <input type="text">
          <input type="text">
          <input type="text">
          <input type="text">
          <input type="text">
          <input type="text">
        </div>
        <div class="main_form_buttonGroup">
            <button class="button_outline">Clean</button>
            <button class="button_outline" disabled>ReSend(10)</button>
            <button class="button_primary" [routerLink]="'/selection'">Submit</button>
          </div>
      </div>
    </div>
  </div>
