<div id="form">
  <div class="container">
    <div class="main_form">
      <h2 class="main_form_title mb-5">
        Enter OTP
      </h2>
      <p class="mb-5">
        {{otpMsg}}
      </p>
      <div class="otp_form">
        <p class=" mb-3">OTP</p>
        <ng-otp-input (onInputChange)="onOtpChange($event)" [config]="{length:6,inputClass:'input_otp'}">
        </ng-otp-input>
      </div>
      <div class="main_form_buttonGroup">
        <button class="button_outline">Clear</button>
        <button class="button_outline" (click)="reSendOtp()" [disabled]="resendCount>0">
          ReSend<ng-container *ngIf="resendCount>0">({{resendCount}})</ng-container>
        </button>
        <button class="button_primary" (click)="sumbitOtp()">Submit</button>
      </div>
    </div>
  </div>
</div>
