<ng-container *ngIf="!loading">
  <app-loading-page></app-loading-page>
</ng-container>
<ng-container *ngIf="loading">
  <app-header></app-header>
  <div id="form">
    <div class="container">
      <div class="main_form">
        <h2 class="main_form_title mb-5">
          Enter Your NRIC
        </h2>
        <h3 class="mb-3">NRIC</h3>
        <input type="text" class="mb-5">
        <div class="main_form_buttonGroup">
          <button class="button_outline">Cancel</button>
          <button class="button_primary" [routerLink]="'/otp'">Submit</button>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</ng-container>

