<ng-container *ngIf="headerData$ | async as contactData">
  <app-header [headerSetting]="contactData">
  </app-header>
  <div id="form">
    <div class="container">
      <div class="main_form" [ngClass]="{'err':error}">
        <h2 class="main_form_title mb-5">
          Enter Your NRIC
        </h2>
        <h3 class="mb-3">NRIC</h3>
        <input type="text" class="mb-5" [(ngModel)]="nricCode">
        <ng-container *ngIf="error">
          <p>{{ errorMsg }}</p>
        </ng-container>
        <div class="main_form_buttonGroup">
          <button class="button_primary" (click)="postpaymentCodeValidation($event)">Submit</button>
        </div>
      </div>
    </div>
  </div>
  <app-footer [footerSetting]="contactData"></app-footer>
</ng-container>
