<div id="form">
  <div class="container">
    <div class="main_form">
      <h2 class="main_form_title mb-5">
        Personal Information
      </h2>
      <div class="information_form">
        <div class="information_form_inputs">
            <div class="input_group mb-5">
                <h4 class="mb-3">Name</h4>
                <input type="text">
              </div>
              <div class="input_group mb-5">
                <h4 class="mb-3">E-mail</h4>
                <input type="email">
              </div>
              <div class="input_group mb-5">
                <h4 class="mb-3">NRIC</h4>
                <input type="text">
              </div>
              <div class="input_group mb-5">
                <h4 class="mb-3">Mobile</h4>
                <input type="text">
              </div>
        </div>
        <div class="information_form_table mb-5">
          <div class="title">
            <ul>
              <li>Application</li>
              <li>Payable Amount</li>
              <li>Payment Source</li>
              <li>Payment Number</li>
            </ul>
          </div>
          <div class="content">
              <ul>
                  <li>KT20200918001</li>
                  <li>SGD$ 1307.68</li>
                  <li>Kinto</li>
                  <li>1d68c5de-3f53-4dc9-843b-3d12d52c8076</li>
                </ul>
          </div>
        </div>
        <div class="information_payment mb-5">
          <h4 class="mb-3">Payment Channel</h4>
          <select name="" id="">
            <option value="">Credit Card</option>
            <option value="">UnionPay</option>
          </select>
        </div>
      </div>
      <div class="main_form_buttonGroup">
        <button class="button_outline">Cancel</button>
        <button class="button_primary" [routerLink]="'/payment'">Submit</button>
      </div>
    </div>
  </div>
</div>
