@import '../../color.scss';

.information_form {

  &_inputs {

    .input_group {
      font-size: 0;
      display: inline-block;
      width: 100%;
      max-width: 50%;

      @media screen and (min-width: 476px) {
        &:nth-child(2n -1) {
          padding-right: 10px;
        }

        &:nth-child(2n) {
          padding-left: 10px;
        }
      }

      @media screen and (max-width: 475px) {
        display: block;
        max-width: 100%;
      }

      h4 {
        font-size: 1rem;
      }

      input {
        width: 100%;
        max-width: 100%;
      }
    }
  }

  &_table {
    ul {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      padding: 10px;
      outline: 1px solid #efefef;

      li {
        flex: 1;

        &:last-child {
          flex: 1.5;
        }
      }

    }

    .title {
      background: #efefef;
    }
  }
}

.information_form_table_mobile {
  &_group {
    margin-bottom: 1rem;

    &>div {
      padding: 10px;
      outline: 1px solid $gray;
    }

    .title {
      background: $gray;
    }
  }
}

.payment_form {
  border: 1px solid $gray;
  padding: 10px 25px;

  @media screen and (max-width: 475px) {
    border: 0;
    padding: 0;
  }

  &_table {
    display: flex;
    flex-wrap: wrap;

    @media screen and (max-width: 475px) {
      display: block;
      flex-wrap: nowrap;
      border: 1px solid $gray;
    }
  }

  &_row {
    flex: 0 0 calc(50% - 12px);
    border-bottom: 1px solid $gray;

    &-noborder {
      border-bottom: 0;
    }

    @media screen and (min-width: 476px) {
      &:nth-child(2n) {
        margin-left: 24px;
      }
    }

    &>div {
      display: inline-block;
      width: 50%;
      padding: 15px 0;

      @media screen and (max-width: 475px) {
        width: calc(55% + 20px);
        padding: 10px 10px;
        vertical-align: middle;
        word-wrap: break-word;

        &.title {
          // padding: 10px 10px;
          width: calc(45% - 20px);
        }
      }

      &.content {
        font-weight: bold;
      }
    }
  }
}
