 <ng-container *ngIf="headerData$ | async as contactData">
   <app-header [headerSetting]="contactData">
   </app-header>
   <app-progress-bar></app-progress-bar>
   <div id="form">
     <div class="container">
       <div class="main_form" *ngIf="payInfo$ | async as payInfo">
         <h2 class="main_form_title mb-5">
           Personal Information
         </h2>
         <div class="payment_form mb-3">
           <div class="payment_form_table">
             <div class="payment_form_row">
               <div class="title">
                 Name
               </div>
               <div class="content">{{ payInfo.ResponseData.customerName}}</div>
             </div>
             <div class="payment_form_row">
               <div class="title">
                 E-mail
               </div>
               <div class="content">{{payInfo.ResponseData.email}}</div>
             </div>
             <div class="payment_form_row" [ngClass]="{'payment_form_row-noborder':!isMobileLayout}">
               <div class="title">
                 NRIC
               </div>
               <div class="content">{{payInfo.ResponseData.nric}}</div>
             </div>
             <div class="payment_form_row payment_form_row-noborder">
               <div class="title">
                 Mobile
               </div>
               <div class="content">{{payInfo.ResponseData.mobile}}</div>
             </div>

           </div>
         </div>
         <div class="information_form">

           <div class="information_form_table mb-5" *ngIf="!isMobileLayout">
             <div class="title">
               <ul>
                 <li>Application Number</li>
                 <li>Payment Source</li>
                 <li>Description</li>
                 <li>Payable Amount</li>
               </ul>
             </div>
             <div class="content">
               <ul>
                 <li>{{payInfo.ResponseData.paymentNumber}}</li>
                 <li>{{payInfo.ResponseData.system}}</li>
                 <li>{{payInfo.ResponseData.paymentDescription}}</li>
                 <li>{{payInfo.ResponseData.currency}} <span
                     style="color:#dc0016">{{payInfo.ResponseData.payAmount | amountConverter}}</span></li>
               </ul>
             </div>
           </div>
           <div class="information_form_table_mobile mb-5" *ngIf="isMobileLayout">
             <div class="information_form_table_mobile_group">
               <div class="title">Application Number</div>
               <div class="content">{{payInfo.ResponseData.paymentNumber}}
               </div>
             </div>
             <div class="information_form_table_mobile_group">
               <div class="title">Payment Source</div>
               <div class="content">{{payInfo.ResponseData.system}}</div>
             </div>
             <div class="information_form_table_mobile_group">
               <div class="title">Description</div>
               <div class="content">{{payInfo.ResponseData.paymentDescription}}</div>
             </div>
             <div class="information_form_table_mobile_group">
               <div class="title">Payable Amount</div>
               <div class="content">{{payInfo.ResponseData.currency}}{{payInfo.ResponseData.payAmount}}</div>
             </div>
           </div>
           <div class="information_payment mb-5">
             <h4 class="mb-3">Payment Method</h4>
             <select name="" id="" *ngIf="payChannel$" (change)="changeMethod($event)" [value]="payMethod">
               <option *ngFor="let payOption of payChannel$">
                 {{payOption.MethodName}}
               </option>
             </select>
           </div>
         </div>
         <div class="main_form_buttonGroup">
           <button class="button_outline" (click)="cancel()">Cancel</button>
           <button class="button_primary" (click)="sumbitCardChannel()">Submit</button>
         </div>
       </div>
     </div>
   </div>
   <app-footer [footerSetting]="contactData"></app-footer>
 </ng-container>
