<div id="progressBar" class="progressBar" *ngIf="!isMobileLayout">
  <div class="container">
    <ul class="">
      <li class="d-inline-block active">
        <div class="progressBar_icon d-inline-block">
          1
        </div>
        <p class="d-inline-block">Review</p>
      </li>
      <li class="d-inline-block">
        <div class="progressBar_icon d-inline-block">
          2
        </div>
        <p class="d-inline-block">Make a payment</p>
      </li>
      <li class="d-inline-block">
        <div class="progressBar_icon d-inline-block">
          3
        </div>
        <p class="d-inline-block">Result</p>
      </li>
    </ul>
  </div>
</div>
