@import '../../color.scss';

.success {
  max-width: 80px;
  width: 100%;
  display: inline-block;
}

.payment_form {
  border: 1px solid $gray;
  // padding: 10px 25px;

  @media screen and (max-width: 475px) {
    padding: 0;
  }

  &_table {
    display: flex;
    flex-wrap: wrap;

    @media screen and (max-width: 475px) {
      flex-direction: column;
    }
  }

  .payment_form_table {
    ul {
      display: flex;
      width: 100%;
      justify-content: space-between;

      li {
        outline: .5px solid #ccc;
        padding: 10px 1rem;
        flex: 1;
      }
    }
  }

}

table {
  table-layout: fixed;
  margin: 1rem auto;
  width: 90%;
  border-collapse: collapse;
  text-align: center;
}


th {
  background: #ccc;
  // color: #fff;
  font-weight: 400;
  padding: .7rem 0;
  border: 1px solid #fff;
  width: 22%;
}


tr:nth-child(even) {
  background: rgba(185, 185, 185, 0.2);
}

td {
  padding: .5rem 1rem;
  border-right: 1px solid rgba(0, 0, 0, .05);
}

td:last-child {
  border-right: 0 none;
  text-align: center;
}

@media only screen and (max-width:600px) {
  table {
    width: 98%;
  }

  thead {
    display: none;
  }

  tr {
    border-bottom: 2px solid rgba(150, 150, 150, 0.35);
  }

  tr:last-child {
    border-bottom: 0 none;
  }

  td {
    display: block;
    padding: .3rem .5rem;
  }

  td:before {
    content: attr(data-head);
    display: inline-block;
    width: auto;
    ;
    min-width: 40%;
    font-weight: 900;
    padding-right: 1rem;
  }

  td:last-child {
    text-align: left;
  }

  td:nth-child(odd) {
    background: rgba(177, 177, 177, 0.15);
  }
}
